
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="initial">
      <div class="icon">
          <img src="../../assets/icons/icon-home.svg" alt="">
      </div>
    </ion-tab-button>

    <ion-tab-button tab="music">
      <div class="icon">
        <img src="../../assets/icons/icon-music.svg" alt="">
      </div>
    </ion-tab-button>

    <ion-tab-button tab="video">
        <div class="icon">
          <img src="../../assets/icons/icon-video.svg" alt="">
        </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>