<ion-content>
  <ion-card-subtitle>Agrega unos datos más</ion-card-subtitle>
  <form [formGroup]="RegisterDataForm" (ngSubmit)="onRegisterData()">
      <div id="contenedor">
          <div id="inputs">
              <input type="text" required formControlName="name" pattern="[a-zA-Z ]*" [(ngModel)]="registerData.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" name="name"  class="form_input form-control effects">
              <label for="">Ingresa tu nombre</label>
              <span class="focus-border"></span>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Ingresa tu nombre</div>
                  <div *ngIf="f.name.errors.pattern">Ingresa un nombre valido</div>
              </div>
          </div>
          <div id="inputs">
            <input type="number" required class="form_input form-control effects" [(ngModel)]="registerData.phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" name="phone">
            <label for="">Ingresa tu número de celular</label>
            <span class="focus-border"></span>
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Ingresar número de celular</div>
            </div>
           </div> 
           <div id="inputs">
            <input type="text" required class="form_input form-control effects" maxlength="2" minlength="1" min="10" max="70" [(ngModel)]="registerData.years" formControlName="years" [ngClass]="{ 'is-invalid': submitted && f.years.errors }" name="years">
            <label for="">Ingresa tu edad</label>
            <span class="focus-border"></span>
            <div *ngIf="submitted && f.years.errors" class="invalid-feedback">
                <div *ngIf="f.years.errors.required">Ingresa edad </div>
                <div *ngIf="f.years.errors.maxlength || f.years.errors.minlength">La edad no es correcta </div>
                <div *ngIf="f.years.errors.pattern">Ingresa tu edad en números</div>
                <div *ngIf="f.years.errors.min || f.years.errors.max">Ingresa una edad valida</div>
            </div>
           </div> 
          <ion-button type="submit" expand="block">Siguiente</ion-button>
      </div>
  </form>
</ion-content>
